{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
<br>
<p>movie id number: {{single.id}}</p>
<h3>{{ single.movie_title}}</h3>
<h5>{{single.release_date}}</h5>
<h5>{{single.video_release_date}}</h5>
<h5>{{single.IMBd_URL}}</h5>
<h5>{{single.average}}</h5>
<img src="{% static 'img/movie.png' %}" alt="" style="width:280px;height:280px;"/>

{% for reviewer in single.review_set.all %}
  <div class="">
    <br>
    {{ reviewer.rater }} | {{ reviewer.rating }}
    <a href="/singlerate/{{reviewer.rater.id}}">Rater Details</a>
  </div>
{% endfor %}
</div>
{% endblock %}
