<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single view</title>
</head>
<body

<p> movie id number: {{single.id}}</p>
<h3>{{ single.movie_title}}</h3>
<h5>{{single.release_date}}</h5>
<h5>{{single.video_release_date}}</h5>
<h5>{{single.IMBd_URL}}</h5>
<h5>{{single.average}}</h5>

{% for reviewer in single.review_set.all %}
  <div class="">
    <br>
    {{ reviewer.rater }} | {{ reviewer.rating }}
    <a href="/singlerate/{{reviewer.rater.id}}">Rater Details</a>
  </div>
{% endfor %}
</body>
</html>
